{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <h3 class="text-center"><a href="{{ link.hide_link }}">{{ link.hide_link}}</a> <br>
        İstatistikleri</h3>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <h3 class="text-center">Tıklanma İstatistikleri</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Kısa Link</th>
                        <th scope="col">Toplam Tıklanma Sayısı</th>
                        <th scope="col">Günlük Tıklanma Sayısı</th>
                        <th scope="col">Haftalık Tıklanma Sayısı</th>
                        <th scope="col">Aylık Tıklanma Sayısı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ link.hide_link}}
                        </td>
                        <td>
                            {{ total_click }}
                        </td>
                        <td>
                            {{ daily_click }}
                        </td>
                        <td>
                            {{ weekly_click }}
                        </td>
                        <td>
                            {{ monthly_click }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <h3 class="text-center">Browser İstatistikleri</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col-1">Sıra No</th>
                        <th scope="col-2">Browser</th>
                        <th scope="col-2">Erişim sayısı</th>
                    </tr>
                </thead>
                <tbody>
                    {% for browser in browsers_info %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ browser.name }}
                        </td>
                        <td>
                            {{ browser.click_count }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">İşletim Sistemi İstatistikleri</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col-1">Sıra No</th>
                        <th scope="col-2">İşletim Sistemi</th>
                        <th scope="col-2">Erişim sayısı</th>
                    </tr>
                </thead>
                <tbody>
                    {% for os in os_info %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ os.name }}
                        </td>
                        <td>
                            {{ os.click_count }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}