{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h3 class="text-center">Gizlenmiş/Kısaltılmış Linkleriniz</h3>
    <table class="table table-striped table-responsive-lg table-sm">
        <thead>
            <tr>
                <th scope="col">Sıra No</th>
                <th scope="col">Asıl Link</th>
                <th scope="col">Gizli Link</th>
                <th scope="col">İşlemler</th>
                <th scope="col">İstatistikler</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}

            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    {{ link.exact_link}}
                </td>
                <td style="width:10%">
                    {{link.hide_link}}
                </td>
                <td style="width:40%">
                    <a href="{% url 'link_forward' link.slug %}" class="btn btn-primary">Linke Git</a>
                    <a href="{% url 'link_delete' link.id %}" class="btn btn-danger">Link Sil</a>
                </td>
                <td style="width:20%">
                    <a href="{% url 'link_statistics' link.id %}" class="btn btn-secondary">İstatistik</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}