{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h3 class="text-center">Gizlenmiş/Kısaltılmış Linkleriniz</h3>
    <table class="table table-striped table-responsive-lg table-sm">
        <thead>
            <tr>
                <th scope="col">Sıra No</th>
                <th scope="col">Asıl Link</th>
                <th scope="col">Gizli Link</th>
                <th scope="col">İşlemler</th>
                <th scope="col">İstatistikler</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}

            <tr>
                <th scope="row">
                    
                    {{forloop.counter0|add:links.start_index }}
                    
                </th>
                <td style="width:10%">
                    {{ link.exact_link}}
                </td>
                <td style="width:20%">
                    {{link.hide_link}}
                </td>
                <td style="width:30%">
                    <a href="{% url 'link_forward' link.slug %}" class="btn btn-primary">Linke Git</a>
                    <a href="{% url 'link_delete' link.id %}" class="btn btn-danger">Link Sil</a>
                </td>
                <td style="width:20%">
                    <a href="{% url 'link_statistics' link.id %}" class="btn btn-secondary">İstatistik</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if links.has_other_pages %}
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if links.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ links.previous_page_number }}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in links.paginator.page_range %}
                    {% if links.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if links.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ links.next_page_number }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>


{% endblock content %}